@using Frontend.Components.Base
@using Frontend.Components.Validation
@using Shared.Models.Entities
@using Frontend.Modules.Catalogo
@inherits ComponentBase

<EssentialsCard Title="Nuevo Categoria" 
               Icon="add" 
               IconColor="#0078d4">
    <ChildContent>
        <FormValidator Entity="entity" Rules="@GetValidationRules()">
            <RadzenStack Gap="1rem">
                <ValidatedInput FieldName="Nombre" Value="@entity.Nombre">
    <RadzenFormField Text="Nombre">
        <RadzenTextBox @oninput="@(v => entity.Nombre = v.Value?.ToString())" 
                       Value="@entity.Nombre"
                       Placeholder="Ingrese nombre" />
    </RadzenFormField>
</ValidatedInput>
                <ValidatedInput FieldName="Codigointerno" Value="@entity.Codigointerno">
    <RadzenFormField Text="Codigointerno">
        <RadzenTextBox @oninput="@(v => entity.Codigointerno = v.Value?.ToString())" 
                       Value="@entity.Codigointerno"
                       Placeholder="Ingrese codigointerno" />
    </RadzenFormField>
</ValidatedInput>
                
            </RadzenStack>
        </FormValidator>
        
        <div class="mt-3">
            <RadzenButton Text="Crear Categoria" 
                          Icon="save" 
                          ButtonStyle="ButtonStyle.Primary"
                          Click="@SaveEntity" 
                          IsBusy="@isLoading" />
            <RadzenButton Text="Cancelar" 
                          Icon="cancel" 
                          ButtonStyle="ButtonStyle.Light"
                          Click="@Cancel" 
                          class="ms-2" />
        </div>
        
    </ChildContent>
</EssentialsCard>

<style>
    .fast-form {
        max-width: 500px;
        margin: 0 auto;
    }
</style>