@page "/ventas/venta/formulario"
@page "/ventas/venta/formulario/{Id:guid}"
@using Frontend.Components.Base.Forms.PageWithCommandBar
@using Frontend.Components.Base
@using Frontend.Components.Validation
@using Shared.Models.Entities

<PageTitle>@(isEditMode ? $"Editar Venta - {entity.Numventa}" : "Nuevo Venta")</PageTitle>

<PageWithCommandBar BackPath="/ventas/venta/list" 
                    ShowSave
                    OnSaveClick="@SaveForm">

    <div class="full-width-tabs">
        <CrmTabs DefaultTabId="tab1" DisableUrlSync="true">
            
            <CrmTab Id="tab1" Title="Información General" Icon="edit" IconColor="#0078d4">
                <div class="scrollable-content">
                    <RadzenRow JustifyContent="JustifyContent.Center">
                        <RadzenColumn SizeLG="4" SizeMD="6" SizeSM="12">
                            
                            <EssentialsCard Title="@(isEditMode ? "Editar Venta" : "Nuevo Venta")" 
                                           Icon="@(isEditMode ? "edit" : "add")" 
                                           IconColor="#0078d4"
                                           ShowEssentials=@(entity.Id != Guid.Empty)>
                             
                                <EssentialsTemplate>
                                    <EssentialsGrid>
                                        <EssentialsItem Label="Estado" Value="@(entity.Active ? "Activo" : "Inactivo")" />
                                        <EssentialsItem Label="Creado" Value="@(entity.FechaCreacion.ToString("dd/MM/yyyy"))" />
                                        <EssentialsItem Label="ID" Value="@entity.Id.ToString()" />
                                    </EssentialsGrid>
                                </EssentialsTemplate>
                                
                                <ChildContent>
                                    <FormValidator Entity="entity" Rules="@GetValidationRules()">
                                        
                                        <RadzenStack Gap="1rem">
                                            <ValidatedInput FieldName="Numventa" Value="@entity.Numventa">
                                                <RadzenFormField Text="Numventa" Style="width: 100%">
                                                    <RadzenNumeric @bind-Value="entity.Numventa" 
                                                                   Placeholder="0"
                                                                   
                                                                   ShowUpDown="false" />
                                                </RadzenFormField>
                                            </ValidatedInput>
                                            <ValidatedInput FieldName="Montototal" Value="@entity.Montototal">
                                                <RadzenFormField Text="Montototal" Style="width: 100%">
                                                    <RadzenNumeric @bind-Value="entity.Montototal" 
                                                                   Placeholder="0"
                                                                   
                                                                   ShowUpDown="false" />
                                                </RadzenFormField>
                                            </ValidatedInput>
                                            
                                        </RadzenStack>
                                        
                                    </FormValidator>
                                </ChildContent>
                            </EssentialsCard>
                            
                        </RadzenColumn>
                    </RadzenRow>
                </div>
            </CrmTab>
            
        </CrmTabs>
    </div>

</PageWithCommandBar>