@page "/advanced-query/saved-queries/list"
@using Frontend.Components.Base.Forms.PageWithCommandBar
@using Frontend.Components.Base.Tables
@using Frontend.Pages.AdvancedQuery
@using Frontend.Pages.AdvancedQuery.Components.Modals
@using Radzen
@inherits AuthorizedPageBase
@attribute [AuthorizePermission("SAVEDQUERIES.VIEW")]

<PageTitle>Búsquedas Guardadas</PageTitle>

@if (HasRequiredPermissions && !IsCheckingPermissions)
{
    <PageWithCommandBar BackPath="/advanced-query"
                        ShowNew="@CanCreate"
                        NewPath="/advanced-query"
                        >

        <RadzenCard>
            <EntityTable T="SavedQueryDto" 
                         @ref="entityTable"
                         @key="@GetGridKey()"
                         ApiService="@SavedQueryService"
                         ShowSearchBar="true"
                         ShowExcelExport="true"
                         ShowRefreshButton="true"
                         ShowAutoRefresh="true"
                         ShowColumnConfig="true"
                         BackendType="BackendType.FormBackend"
                         ShowActions="true"
                         SearchPlaceholder="Buscar búsquedas guardadas..."
                         BaseQuery="@(currentView?.QueryBuilder)"
                         ColumnConfigs="@(currentView?.ColumnConfigs)"
                         ForceOrderByIndex="true"
                         EnableSelectOptimization="true"
                         SelectOnlyVisibleColumns="true"
                         ViewConfigurations="@ViewConfigurationsTyped"
                         CurrentView="@currentView"
                         OnViewChanged="@OnViewChanged"
                         ViewDisplayNameProperty="DisplayName"
                         OnEdit="@HandleEdit"
                         OnDelete="@HandleDelete">
                
                <CustomActions>
                    <div class="rz-display-flex rz-gap-2">
                        <RadzenButton Icon="play_arrow" 
                                      ButtonStyle="ButtonStyle.Success" 
                                      Size="ButtonSize.ExtraSmall" 
                                      Click="@(() => HandleExecute(context))"
                                      title="Ejecutar búsqueda (solo lectura)"
                                      Variant="Variant.Flat" />
                        <RadzenButton Icon="share" 
                                      ButtonStyle="ButtonStyle.Info" 
                                      Size="ButtonSize.ExtraSmall" 
                                      Click="@(() => HandleShare(context))"
                                      title="Compartir búsqueda"
                                      Variant="Variant.Flat" />
                        <RadzenButton Icon="content_copy" 
                                      ButtonStyle="ButtonStyle.Secondary" 
                                      Size="ButtonSize.ExtraSmall" 
                                      Click="@(() => HandleDuplicate(context))"
                                      title="Duplicar búsqueda"
                                      Variant="Variant.Flat" />
                    </div>
                </CustomActions>
                
            </EntityTable>
        </RadzenCard>

    </PageWithCommandBar>

    <!-- Modals -->
    @if (showShareModal && selectedQuery != null)
    {
        <ShareQueryModal SavedQuery="@selectedQuery" 
                         OnClose="@(() => showShareModal = false)" 
                         OnShared="@OnQueryShared" />
    }

    @if (showDuplicateModal && selectedQuery != null)
    {
        <DuplicateQueryModal SavedQuery="@selectedQuery" 
                             OnClose="@(() => showDuplicateModal = false)" 
                             OnDuplicated="@OnQueryDuplicated" />
    }

}

@code {
    // Component logic will be in List.razor.cs
}